<div class="row bg-indigo-900 shadow-lg column mt-1">   
    <div class="three wide computer only column"></div>
    <div class="one wide mobile only tablet only column">
        <div class="ui icon inverted dropdown mobile-menu mt-5">
            <i class="icon big bars pl-4 inverted white open-sidebar"></i>
            <div class="ui menu">            
                {{ component('members-site>navbar.menu.items',{ active: active }) }}   
            </div>
        </div>   
    </div>
    <div class="five wide column"> 
        <div class="ui inverted secondary large menu navbar-menu pl-2">                          
            <div class="item navbar-item">                    
                <span class="navbar-title mt-1">
                    {{ title }}      
                </span>          
            </div>             
        </div>
    </div>
    <div class="five wide computer only column">                        
        {{ component('members-site>navbar.menu') }}
    </div>
    <div class="two wide computer only three wide tablet only right aligned column">         
        {{  component('users>users.menu.login',{
                class: 'inverted secondary large navbar-menu',
                show_user_name: true,
                user_icon: 'user olive',
                active: active
            }) 
        }}                                                                                                                                     
    </div>    
    <div class="three wide computer only column"></div>          
</div>